<section id="accueil">
  <div class="l-constrained">
    <div class="section-container">Contenu accueil
    </div>
  </div>
</section>
<section id="histoire">
  <div class="l-constrained">
    <div class="section-container c2-cols clearfix">
      <img src="images/dina.jpg" class="col-1tiers"/>
      <div class="col-2tiers">
        <div class="description">
          <h2>Dina</h2>
          <p>
            Dina est née à Paris, le 19 Aout 1989, elle est d'origine ivoirienne et ingénieur en Mathématiques Financières.
          </p>
          <p>
            Entre chant, danse, cuisine, dessin, écriture et de nombreux talents, cette très belle jeune femme est pleine de bonté, de gentillesse et d'attention envers tout son entourage.
          </p>
          <p>
            Dans tous les moments de la vie, elle est un réconfort, un doux miel qui passe dans mon coeur.
          </p>
           
        </div>
      </div>
    </div>
    <div class="section-container c2-cols clearfix">
      <div class="col-2tiers">
        <div class="description">
          <h2>Séraphin</h2>
          <p>
            Séraphin est né à Mulhouse, le 11 Mars 1990.
          </p>
          <p>
            Entre chant, danse, cuisine, dessin, écriture et de nombreux talents, cette très belle jeune femme est pleine de bonté, de gentillesse et d'attention envers tout son entourage.
          </p>
          <p>
            Dans tous les moments de la vie, elle est un réconfort, un doux miel qui passe dans mon coeur.
          </p>
           
        </div>
      </div>
      <img src="images/seraphin.jpg" class="col-1tiers"/>
    </div>
  </div>
</section>
<section id="mariage">
  <div class="l-constrained">
    <div class="section-container">Contenu mariage
    </div>
  </div>
</section>
<section id="photos">
  <div class="l-constrained">
    <div class="section-container">Contenu photos
    </div>
  </div>
</section>
<section id="infos">
  <div class="l-constrained">
    <div class="section-container">Contenu infos

      <h2>Ce sera ici :</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2601.567635519689!2d2.015285!3d49.303533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1425256897320" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</section>
<section id="message">
  <div class="l-constrained">
    <div class="section-container">Contenu message
    </div>
  </div>
</section>

